.wrapper {
  position: relative;
  background-color: rgb(249, 249, 249);
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* .gridContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
} */

.grid {
  margin: 50px auto;
  display: grid;
  gap: 5px;
  max-width: 1200px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: 0 20px;
}

/* Card */
.card {
  border-radius: 10px;
  aspect-ratio: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
}

/* Responsive */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
