.wrapper {
  position: relative;
  background-color: rgb(249, 249, 249);
  padding: 100px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  position: relative;
  max-width: 1440px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

/* .gridContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
} */

.grid {
  margin: 50px auto;
  display: grid;
  gap: 5px;
  max-width: 1200px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: 0 20px;
  box-sizing: border-box;
}

/* Card */
.card {
  border-radius: 10px;
  aspect-ratio: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
}

/* Responsive */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Skeleton Card */
.skeletonCard {
  border-radius: 10px;
  aspect-ratio: 3 / 4;
  background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.sectionTitle {
  max-width: 600px;
  text-align: center;
}

.sectionTitle h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.sectionTitle p {
  color: #666;
  line-height: 1.6;
}

.icon {
  display: inline-block;
  margin: 10px 0 20px;
  height: auto;
}

.iconImg {
  object-fit: contain;
  width: 40px;
  height: 40px;
}
