body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  width: 100vw;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  /* Overflow default (visible) olmalı sticky için */
  overflow: visible;
  position: relative; /* sticky için iyi olur */
}
