.container2 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  align-items: center;
}

.card2 {
  width: 250px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.image2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addButton {
  background: rgb(76, 175, 80);
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.deleteButton {
  background: #f44336;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.addButton:hover {
  background-color: rgba(76, 175, 80, 0.7);
}

.deleteButton:hover {
  background: rgba(244, 67, 54, 0.7);
}
/* Modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  margin-top: 140px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
}

.form input,
.form textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form select:focus {
  border-color: #0070f3;
  box-shadow: 0 0 0 2px rgba(0, 118, 255, 0.2);
  outline: none;
}
