.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px; /* yuxarı və aşağı padding 100px, sağ-sol 0 */
  box-sizing: border-box;
}

.serviceContainer h1 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* veya space-between, start vs. */
  align-items: flex-start;
  gap: 16px; /* kutular arası boşluk */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
